@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
.thank-you {
  background-color: #252d37;
  border-radius: 25px;
  text-align: center;
  padding: 1.4rem 0;
}

.thank-you__image {
  width: 40%;
}

.thank-you__ratings {
  background-color: #3b424b;
  border-radius: 25px;
  display: inline-block;
  padding: 0.4rem 1.4rem;
}

.thank-you__ratings--text {
  color: #fb7413;
  font-size: 1.2rem;
}

.thank-you__text {
  color: white;
  font-size: 2.4rem;
  font-weight: 700;
}

.thank-you__desc {
  color: #959eac;
  font-size: 1.3rem;
  line-height: 1.6;
  padding: 0 0.4rem;
}

.margin-bottom--xxs {
  margin-bottom: 1.2rem;
}

.margin-bottom--xs {
  margin-bottom: 1.8rem;
}

.margin-bottom--s {
  margin-bottom: 2.4rem;
}

.hidden {
  display: none;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #121417;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.5rem;
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  max-width: 35rem;
  margin: 0 auto;
  padding: 2.4rem;
}

.heading-primary {
  color: white;
  font-size: 2.4rem;
  font-weight: 700;
}

.rating-component {
  background-color: #252d37;
  border-radius: 25px;
}

.rating-component__icon-box {
  border-radius: 50%;
  background-color: #3b424b;
  display: inline-block;
  padding: 1.8rem;
  position: relative;
}

.rating-component__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40%;
}

.rating-component__desc {
  color: #7c8798;
  font-size: 1.3rem;
  line-height: 1.6;
}

.rating-component__ranges {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.4rem;
}

.rating-component__number {
  border-radius: 50%;
  background-color: #3b424b;
  font-size: 1.2rem;
  color: #959eac;
  padding: 2rem;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.rating-component__number--span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.rating-component__number:hover {
  background-color: #7c8798;
  color: white;
  cursor: pointer;
  font-weight: 700;
}

.rating-component__number:active {
  background-color: #fb7413;
}

.rating-component__button-box {
  padding: 0 0.4rem 0 0;
}

.rating-component__button:link, .rating-component__button:visited {
  background-color: #fb7413;
  border-radius: 20px;
  color: white;
  display: block;
  letter-spacing: 1px;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.rating-component__button:hover, .rating-component__button:active {
  background-color: white;
  color: #fb7413;
}

@media (max-width: 25em) {
  .rating-component__ranges {
    margin-bottom: 3.2rem;
  }
}
