@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

@import "components/_thank-you-state.scss";
@import "_variables.scss";

// MIXINS
@mixin flex {
  display: flex;
}

@mixin flex__center--hv {
  justify-content: center;
  align-items: center;
}

//UTILITY CLASSES
.margin-bottom--xxs {
  margin-bottom: 0.8rem;
}

.margin-bottom--xs {
  margin-bottom: 1.6rem;
}

.margin-bottom--s {
  margin-bottom: 2.4rem;
}

.hidden {
  display: none;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $color__blue--very-dark;
  box-sizing: border-box;
  font-size: 1.5rem;
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  height: 100vh;
  position: relative;

  @include flex;
  @include flex__center--hv;
}

.container {
  max-width: 35rem;
  margin: 0 auto;
  padding: 2.4rem;
}

.heading-primary {
  font-size: 2.4rem;
  color: $color__white;
  font-weight: 700;
}

.rating-component {
  background-color: $color__blue--dark;
  border-radius: 25px;

  &__icon-box {
    border-radius: 50%;
    background-color: #3b424b;
    display: inline-block;
    padding: 1.8rem;
    position: relative;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
  }

  &__desc {
    color: $color__grey--medium;
    font-size: 1.3rem;
    line-height: 1.6;
  }

  &__states {
    @include flex;
    gap: 2.4rem;
  }
  &__number {
    border-radius: 50%;
    background-color: #3b424b;
    padding: 2rem;
    position: relative;
    transition: all 0.3s;

    &--link:link,
    &--link:visited {
      color: $color__grey--light;
      font-size: 1.2rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-decoration: none;
    }

    &:hover {
      background-color: $color__grey--medium;
      cursor: pointer;
      .rating-component__number--link:link,
      .rating-component__number--link:visited {
        color: $color__white;
        font-weight: 700;
      }
    }

    &:active {
      background-color: $color__primary;
    }
  }

  &__button:link,
  &__button:visited {
    background-color: $color__primary;
    border-radius: 20px;
    color: $color__white;
    display: block;
    letter-spacing: 1px;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s;
  }

  &__button:hover,
  &__button:active {
    background-color: $color__white;
    color: $color__primary;
  }
}
