@import "../_variables.scss";

.thank-you {
  background-color: $color__blue--dark;
  border-radius: 25px;
  text-align: center;
  padding: 1.4rem 0;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);

  &__image {
    width: 40%;
  }

  &__ratings {
    background-color: #3b424b;
    border-radius: 25px;
    display: inline-block;
    padding: 0.4rem 1.4rem;

    &--text {
      color: $color__primary;
      font-size: 1.2rem;
    }
  }

  &__text {
    color: $color__white;
    font-size: 2.4rem;
    font-weight: 700;
  }

  &__desc {
    color: $color__grey--light;
    font-size: 1.3rem;
    line-height: 1.6;
    padding: 0 0.4rem;
  }
}
